:root {
  --teal: #cff4ec;
  --teal-dark: #4d7369;
  --grey: #eaeae899;
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  font-style: italic;
}

.nav-left {
  padding: 1rem;
}

.nav-right {
  text-align: right;
}

.nav-right .btn {
  background-color: var(--teal);
  border-radius: 0px;
  padding: 10px;
  margin-bottom: 10px;
  height: 46px;
}

.nav-right .btn:hover {
  background-color: var(--teal-dark);
  color: #fff;
}

.intro-left {
  background-color: var(--teal);
  text-align: center;
}

.intro-left h1 {
  padding: 20% 10% 5% 10%;
}

.intro-left p {
  font-size: 1.2rem;
}

.intro-left a {
  color: var(--bs-body-color);
}

.help-box {
  background-color: var(--grey);
  margin-top: 50px;
  padding: 50px;
  text-align: center;
}

.help-box h2 {
  margin-bottom: 20px;
}

.help-box .row {
  max-width: 600px;
  margin: 0 auto;
  text-align: justify;
  letter-spacing: -0.02em;
}

.help-box .help-right {
  text-align: right;
}

.pricing-box {
  margin-top: 50px;
  text-align: center;
}

.pricing-box .col-sm {
  padding: 60px 40px;
}

.pricing-box h3 {
  margin-bottom: 20px;
}

.pricing-box .price-1 {
  background-color: #e2f6cd;
}

.pricing-box .price-2 {
  background-color: var(--grey);
}

.pricing-box .price-3 {
  background-color: var(--teal);
}

.pricing-box .notice {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  background-color: var(--grey);
  padding: 20px;
}

.associations-box {
  margin-top: 50px;
}

.associations-box h2 {
  margin-top: 60px;
}

.testimonials-box {
  margin-top: 50px;
  text-align: center;
  border: 1px solid #333;
}

.testimonials-box h3 {
  margin: 40px 0 20px 0;
}

.testimonials-box .col-sm {
  background: #fff url("img/quote.png") no-repeat center 10px;
  border-right: 1px solid #333;
  padding: 60px 40px;
}

.testimonials-box .last {
  border-right: 0;
}

.testimonials-box p {
  font-style: italic;
}

.contact-box {
  margin-top: 50px;
  background-color: var(--teal);
  padding: 50px;
}

.contact-box .row {
  background-color: #fff;
}

.contact-box .col-sm {
  padding: 30px;
  text-align: center;
}

.contact-box a {
  color: var(--bs-nav-link-color);
}

/** Mobile overrides **/
@media (max-width: 576px) {
  .nav-left {
    text-align: center;
  }

  .nav-right {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .intro-left {
    padding-bottom: 20px;
  }

  .intro-right {
    display: none;
  }

  .help-box {
    padding-left: 0;
    padding-right: 0;
  }

  .help-box .help-right {
    text-align: center;
  }

  .associations-box h2 {
    margin-top: 0;
    text-align: center;
  }

  .testimonials-box .col-sm {
    border-right: 0;
  }
}
